body{
    margin: 0;
}
.name{
    flex-shrink: 2;
    text-align: center;
}
.navUl{
    display: flex;
    justify-content: space-evenly;
    flex-basis: 70%;
    margin:0;
    padding: 0;
    list-style-type: none;
    flex-wrap: wrap;
    height: 100%;
}
.navLi{
    display: inline-flex;
    height: 100%;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}
.navLink{
    display: inline-flex;
    font-size: larger;
    font-family: "IBM Plex Mono", monospace;
    height: 100%;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    color: #f0ead2;
}
.navLi:hover,.navLink:hover{
    background-color: #adc178;
    /* text-shadow: #6c584c 1px 0 10px; */
    text-decoration: underline #6c584c solid;
    border-radius: 3px;
    color:#6c584c;
    font-weight: 600;
}
nav{
    display: flex;
    background-color: #6c584c;
    color: #f0ead2;
    font-size: larger;
    height: 100%;
    align-items: center;
    
    
}
  
nav div{
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-family: "Dancing Script", cursive;
    padding-left: 25px;
    
}
.introContainer{
    display: flex;
    background-color: #f0ead2;
    padding-top: 50px;
    padding-bottom: 50px;
}
.intro{
    display: flex;
    flex-direction: column;
    width:55%;
    padding-left: 80px;
}
.hello{
    margin: 15px 0px;
    font-size: 30px;
    font-family: "Playfair Display", serif;
    color: #403d39;
}
.hello::first-letter{
    font-size: 40px;
}
.introPara{
    margin:10px 0px; 
    font-family: Book Antiqua,Palatino,Palatino Linotype,Palatino LT STD,Georgia,serif; 
    font-size: larger;
}
.resumeLinkContainer{
    display: inline-flex;
    justify-content: start;
    align-items: end;
    flex-grow: 2;  
}
.resumeLink{
    text-decoration: none;
    color: #f0ead2 ;
    font-size: larger;
    padding: 10px;
    background-color:#6c584c ;
    border-radius: 4px;
    margin-top: 10px;
}
.resumeLink:hover{
    transform: scale(1.2);
    box-shadow: 0px 5px 10px #6c584c;
    /* text-decoration: underline #f7ede2 solid; */
}

.image{
    width:45%;
    display: flex;
    justify-content: center;
    align-items: center ;
}
.profilePhoto{
    border-radius: 25% 10%;
    height: 250px;
    width: 200px;
    border: 15px solid #6c584c;
}
.logoContainer{
    display: flex;
    width: 60%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-right: 50px;
    margin-left: 25px;
}
.logo{
    height:60px;
    margin:12.5px 20px 12.5px 20px ;
    width:60px;
}
.skillContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0ead2;
    /* background:linear-gradient(#f0ead2,#6c584c); */
    padding-top: 50px;
    padding-bottom: 75px;
}
.skills{
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 50px;
    margin-right: 25px;
    align-items:center;
}
.technicalskills{
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-size: 40px;
    color: #582f0e;
    text-align: center;
    border-bottom: 2px solid #582f0e;
}
.skillRow{
    display: flex;
    flex-direction: row;
}
h4{
    margin:10px 15px ;
    padding: 10px;
    border-radius: 5px;
    background-color:#6c584c ;
    color:#f0ead2 ;
    font-size: larger;
    height: 20px;
}
.skillBoundary{
    width: 5px;
    background-color:#6c584c ;
}
.certificationContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6c584c;
    padding-bottom: 75px;
    padding-top: 10px;

}
.certification{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 5px 10px black;
    width: 28%;
    height: 450px;
    background-color:#f0ead2  ;
    justify-content: space-between;
}
.certificationHeading{
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-size: 40px;
    color:#f0ead2;
    border-bottom: 2px solid #f0ead2;
    text-align: center;
}
.certificateImage{
    width:100%;
    height:250px;
    border-radius: 5px 5px 0px 0px;
}
.certificationBody{
    margin:8px 10px 5px 10px;
    text-align: center;
    display: flex;
    font-family: Book Antiqua,Palatino,Palatino Linotype,Palatino LT STD,Georgia,serif; 
    font-size: medium;

}
/* .projectUl{
    margin:5px 0px;
} */
.certificateLink{
    margin:20px 100px 20px 100px;
    padding: 5px;
    box-shadow: 0px 5px 10px #6c584c;
    display: block;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color:#f0ead2;
    background-color: #6c584c ;
}
.certificateLink:hover{
    transform: scale(1.2);
    box-shadow: 0px 5px 10px #6c584c;
}
.projectContainer{
    display: flex;
    flex-direction: column;
    align-items:center ;
    background:linear-gradient(#6c584c,#f0ead2);
    padding-bottom: 75px;
    padding-top: 30px;
}
.projectHeading{
    text-align:center;
    font-family: "IBM Plex Mono", monospace;
    margin:10px 0px;
    font-weight: 400;
    font-size: 45px;
    color:#f0ead2;
    border-bottom: 2px solid #f0ead2;
    /* text-decoration: 1.5px underline solid #f0ead2; */
}
.projectLinks{
    display: flex;
    align-items: center;
}
.projectBody{
    font-family: Book Antiqua,Palatino,Palatino Linotype,Palatino LT STD,Georgia,serif;
    font-size: medium; 
}
.link{
    display: flex;
    align-items: center;
    margin-right: 20px ;
}
.project{
    margin:10px 10px;
    padding:5px 15px 10px ;
    border-bottom: 2px solid #6c584c;
    /* box-shadow: 0px 0.5px 2.5px black; */
    border-radius: 5px;
}
.projectTitle{
    text-decoration: underline solid 1.5px black;
    margin:10px 0px;
    font-family: "PT Serif", serif;

}
.contactContainer{
    display: flex;
    flex-direction: column;
    background-color: #f0ead2;
    align-items: center;
    /* padding-left: 60px;
    padding-top: 30px; */
    justify-content: flex-start;
}
.contactTitle{
    font-family: "Sedan", serif;
    font-size: 50px;
    margin:0;
    text-align: center;
}
.contactSubTitle{
    color:#403d39;
    margin:8px 0px ;
    opacity: 0.7;
    text-align: center;
}
.contactBody{
    font-family: "Sedan", serif;
    font-size: larger;
    margin:12px 0px;
}
.contactLink{
    margin: 0px 5px;
}
@media(max-width: 840px) {
    .certificateDiv{
        flex-direction: column;
        align-items: center;
    }
    .certification{
        width: 50%;
        margin-bottom: 30px;
    }
    nav{
        flex-direction: column;
    }
    .navLi{
        margin: 0px 10px;
    }
    .introContainer{
        flex-direction: column;
        align-items: center;
    }
    .intro{
        padding: 0px;
        margin-bottom: 30px;
    }
}
